*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F1F1F1;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 900px;
    background-image: url("../images/main_image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #141414;
}

.navigation_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 26px;
    width: 1280px;
}

.navigation_container h1{
    margin: 0;
    font-size: 18px;
    font-family: 'Inter', serif;
    font-weight: 400;
    line-height: 160%;
    color: #F1F1F1;
}

.nav{
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    gap: 40px;
}

.nav__link {
    text-decoration: none;
    color: #F1F1F1;
}

.title {
    margin-top: auto;
    margin-bottom: 49px;
    text-align: center;
    font-family: 'AcidGrotesk', sans-serif;
    font-size: 150px;
    font-weight: 400;
    color: #F1F1F1;  
}

.about_container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 162px auto 0;
    gap: 321px;
    width: 1280px;
    padding-bottom: 158px;
    border-bottom: 1px solid #939393;
}

.work_container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 115px auto 0;
    gap: 321px;
    width: 1280px;
    padding-bottom: 158px;
}

main h1{
    margin: 0 auto;
    font-family: 'AcidGrotesk', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #939393;
}

main p{
    margin: 0 auto;
    width: 847px;
    font-family: 'AcidGrotesk', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: #161616;
}

main img{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

/* section:first-child{
    border-bottom: 1px solid #939393;
} */